/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

/*
@theme {
    --color-brand: #0f4c81;
    --color-brand-strong: #0a365c;
}

@layer base {
    body {
    @apply bg-slate-100 text-slate-900 antialiased;
    margin: 0;
    font-family: Inter, system-ui, sans-serif;
    }
    
}
    */
